﻿@import "stylesheets/bootstrap";
@import "stylesheets/bootstrap-sprockets";
@import "stylesheets/_queryBuilder.scss";

//Move to layout mixin
@mixin horizontal-list($list-margin: 0 8px 0 0) {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		position: relative;
		margin: $list-margin;
		padding: 0;

		&:last-of-type {
			margin-right: 0;
		}

		a {
			display: inline-block;
		}
	}
}


.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  font-size: 30px;
  border-radius: 70px;
}

.label-block {
    padding: 6px 12px;
    margin: 0;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	min-width: 25px;
	font-size: 85%;
}

.form-actions{
	margin-bottom: 50px;
}

button.patent {
	    background: url("../img/icon-ribbon.png") no-repeat center 5px #536579;
  }

button.inventor {
	    background: url("../img/icon-bulb.png") no-repeat center 10px #536579;
  }

button.assignee, button.nberSubcategory, button.cpcSubsection, button.uspcMainclass {
	    background: url("../img/icon-folder.png") no-repeat center 10px #536579;
  }

button.location {
	    background: url("../img/icon-pin.png") no-repeat center 10px #536579;
  }


#step-by-step-container{
	margin-bottom: 25px;
}



#step-by-step{
	margin-top: 25px;
	
}

ul#step-view-progress{

  border: 1px solid $blue-gray-dark;//user var
	
  > li {
	  border: none;
		  background-color: #f5f5f5;

	  > a {
		  border: none;
		  font-weight: 600;
		  background-color: #f5f5f5;
	  } 
	  &.complete > a {
		  background-color: #f5f5f5;
		  color: $nav-tabs-active-link-hover-color;
	  }
	  &.active > a {
		  background-color: #f5f5f5;
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: #f5f5f5;
        //border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    } 
  }

}


ul#step-pager {
	@include horizontal-list;
	display: block;

	li {
		float: right;
		padding: .5em;
	}
}

.r { //rename this!!!
	margin-top: 25px;
		margin-bottom: 25px;
		padding-top: 25px;
		padding-bottom: 25px;
		border-top-style: solid;
	border-top-color: $blue-gray-dark;
	border-top-width: 1px;
	border-bottom-color: $blue-gray-dark;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

p.step-desc
{
	font-size: 20px;
	font-style: italic;
	color: $blue-gray-dark;
	margin-bottom: 50px;
}

#intro { 
	h1{

		color: $orange;
		font-style: italic;
	}
	p{
		  margin-top: 17px;
	}
}

ul.entity-list {
	@include horizontal-list;
	display: flex;
	justify-content: space-between;

	li {
		label {
			display: table-caption;
			text-align: center;
			text-transform: uppercase;
		}

		button.entity {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border-width: 1px;
			margin-bottom: 10px;
		}

		&.active {

			label {
				color: $active-background-color;
			}

			button.entity {
				background-color: $active-background-color;
				border-color: darken($active-background-color, 10%);
				
			}
		}
	}
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;

	.panel {

		width: 100%;
	}
}

.panel-body{
	ul{
		padding-left:0;
	}
}

#resultCount{
	display: inline;
	width: 200px;
}


.review-results{
	.row > div {
		margin-bottom: 25px;
	}
	
}

