﻿<form id="results-form" class="col-md-12 r">
    <h2>Step 4: Customize Results</h2>
    <p class="step-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sort Results By
                </div>
                <div class="panel-body" style="height: 80px;">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="group">
                                Group
                            </label>
                            <select id="group" class="form-control">
                                <option>-Select Group-</option>
                            </select>

                        </div>
                        <div class="col-md-6">
                            <label for="field">
                                Field
                            </label>
                            <select id="field" name="field" class="form-control">
                                <option>-Select Field-</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Limit Search Results
                </div>
                <div class="panel-body" style="height: 80px;">
                    <div class="list-inline">
                        <label for="resultCount">Limit search results to <input id="resultCount" name="resultCount" class="form-control" placeholder="Enter number" value="{{resultCount}}" /> patents (maximum 10,000).</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Getting the Results
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="recipient">
                                Please enter the e-mail address where you want the results delivered
                            </label>
                                <input id="recipient" type="email" class="form-control" placeholder="Enter e-mail address" value="{{recipient}}" />
                        </div>
                        <div class="col-md-6">
                            <label>Please select the desired file format(s) of your final results.</label>
                            <div class="row" id="format" required>
                                <div class="col-md-3">
                                    <label for="xml">
                                        {{#if xml}}
                                        <input type="checkbox" id="xml" checked="checked" />
                                        {{else}}
                                        <input type="checkbox" id="xml" />
                                        {{/if}}
                                        XML
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label for="json">
                                        {{#if json}}
                                        <input type="checkbox" id="json" checked="checked" />
                                        {{else}}
                                        <input type="checkbox" id="json" />
                                        {{/if}}
                                        JSON
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label for="csv">
                                        {{#if csv}}
                                        <input type="checkbox" id="csv" checked="checked" />
                                        {{else}}
                                        <input type="checkbox" id="csv" />
                                        {{/if}}
                                        CSV
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
